neb_geometries/
distorted/
preNEB/
NEB/
CINEB/
plots/
relaxations/
.pq_active-sqlite.db
*.vasp
*.csv
*.png
*.txt
*.svg
*.tar.gz
*.pdf
*.zip
*.log
*.out
*.err
*.json
*.pkl
*.pickle
*.dat
molecules/
oxygen/
codes/search.py
codes/error_handler.py
codes/charges_driver.py
codes/calc_charges.py
codes/relax_wf.py
codes/mini_workflow.py
codes/get_dir.py
codes/plot_strain.py
codes/old_neb.py
codes/create_vacancies.py
codes/cleanup.py
codes/test
codes/apply_fit.py
codes/get_structure.py
structures/hexag_perovs_strained_copy.db
.gitignore
notebook.ipynb